@charset "UTF-8";

body{
	background: url(images/contact.jpg);
	margin-top: 50px;
}

p{
	padding-top: 10px;
}

p .para-link{
	color: #0D6EFD !important;
	text-decoration: none;
	cursor: pointer;
}