<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>E-library Management</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Editbook</display-name>
    <servlet-name>Editbook</servlet-name>
    <servlet-class>servlet.Editbook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Editbook</servlet-name>
    <url-pattern>/Editbook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deletebook</display-name>
    <servlet-name>Deletebook</servlet-name>
    <servlet-class>servlet.Deletebook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deletebook</servlet-name>
    <url-pattern>/Deletebook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FineAmount</display-name>
    <servlet-name>FineAmount</servlet-name>
    <servlet-class>servlet.FineAmount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FineAmount</servlet-name>
    <url-pattern>/FineAmount</url-pattern>
  </servlet-mapping>
</web-app>